node_modules
npm-debug.log
.git
.gitignore
.env
.env.*.php
.env.testing
.env.example
.editorconfig
.gitattributes
.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
vendor
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode
.idea
.env.*.local
