.git
.github
.gitignore
.editorconfig
.env
.env.local
.env.*.local
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.pytest_cache
*.log
.DS_Store
.vscode
.idea
npm-debug.log
yarn-error.log
dist
build
